/*Extra Small Devices*/

@media only screen and (max-width: 500px) {

	/*	NAVIGATION	*/
	nav > ul {
		flex-wrap: wrap;
	}

	/* 	SERVICEC  */
	section.services > .shell > .window {
		flex-direction: column;
	}

	/*	footer	*/

	footer {
		padding: 30px 0 50px;
	}


	footer > .shell {
/*		flex-direction: column;*/
		justify-content: center;
	}


	footer > .shell > span {
		font-size: 12px;
	}

	footer > .shell > .year {
		top: 30px;
		right: unset;
	}




	.hide-xs {
		display: none;
	}

	.visible-xs {
		display: block;
	}

	.col-xs-1 {
		width: 8.333333%;
	}

	.col-xs-2 {
		width: 16.666666%;
	}

	.col-xs-3 {
		width: 24.999999%;
	}

	.col-xs-4 {
		width: 33.333333%;
	}

	.col-xs-5 {
		width: 41.666666%;
	}

	.col-xs-6 {
		width: 50%;
	}

	.col-xs-7 {
		width: 58.333333%;
	}

	.col-xs-8 {
		width: 66.666666%;
	}

	.col-xs-9 {
		width: 74.999999%;
	}

	.col-xs-10 {
		width: 83.333333%;
	}

	.col-xs-11 {
		width: 91.666666%;
	}

	.col-xs-12 {
		width: 100%
	}
}